:root {
  --footerlogo-collor: #ffffff;
  --main-text: Roboto, sans-serif;
  --logo-text: Raleway, sans-serif;
  --paragraphs-color: #757575;
  --background-color: #2f303a;
  --maintext-color: #212121;
  --hoverandfocus-color: #2196f3;
  --maintitle-color: #ffffff;
  --logoblueword-color: #2196f3;
  --currentpage-color: #2196f3;
  --footerbutton-color: #2196f3;
  --buttonsBG-color: #f5f4fa;
  --buttonwhitewords-color: #ffffff;
  --navigationborder-color: #ececec;
  --itemsmargin: 30px;
  --bottommarginelements: 50px;
  --backgroundwhite-color: #ffffff;
  --ourteambackground-color: #f5f4fa;
  --griditem: 3;
  --margincard: 30px;
  --porfolioborders: #eeeeee;
  --backgroundgradient-color: rgba(47, 48, 58, 0.4);
  --iconstop-color: #757575;
  --svgicons-color: #afb1b8;
  --focusicons-color: #ffffff;
  --clientsborder-color: #afb1b8;
  --clientsicon-color: #afb1b8;
  --footerh3text-color: #ffffff;
  --footersociallinks-color: #ffffff;
  --transformation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlaytext0color: #ffffff;
  --modalwindowbg-color: #ffffff;
  --modalicons-color: #212121;
  --mobilemenusocialslinks-color: #2196f3;
}
